<app-web-header></app-web-header>
<ion-content>
  <ion-row>
    <ion-col size='1'></ion-col>
    <ion-col size='10' style="display: flex;">
      <ion-card style="width: 20%">
        <ion-card-header class="ion-no-padding">
          <img src="assets/img1.jpg">
        </ion-card-header>

        <ion-card-content style='padding: 7px;'>
          <h4 style='color: gray; font-weight: 600;'>The Last dance</h4>
          <p style='font-size: 13px;'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p style='color: gray; font-size: 12px; font-weight: 600; text-align: center;'>Web | Experience</p>
        </ion-card-content>
      </ion-card>

      <ion-card style="width: 20%">
        <ion-card-header class="ion-no-padding">
          <img src="assets/img4.jpg">
        </ion-card-header>

        <ion-card-content style='padding: 7px;'>
          <h4 style='color: gray; font-weight: 600;'>The Last dance</h4>
          <p style='font-size: 13px;'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p style='color: gray; font-size: 12px; font-weight: 600; text-align: center;'>Web | Experience</p>
        </ion-card-content>
      </ion-card>

      <ion-card style="width: 20%">
        <ion-card-header class="ion-no-padding">
          <img src="assets/img2.jpg">
        </ion-card-header>

        <ion-card-content style='padding: 7px;'>
          <h4 style='color: gray; font-weight: 600;'>The Last dance</h4>
          <p style='font-size: 13px;'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p style='color: gray; font-size: 12px; font-weight: 600; text-align: center;'>Web | Experience</p>
        </ion-card-content>
      </ion-card>
      <ion-card style="width: 20%">
        <ion-card-header class="ion-no-padding">
          <img src="assets/img3.jpg">
        </ion-card-header>

        <ion-card-content style='padding: 7px;'>
          <h4 style='color: gray; font-weight: 600;'>The Last dance</h4>
          <p style='font-size: 13px;'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p style='color: gray; font-size: 12px; font-weight: 600; text-align: center;'>Web | Experience</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size='1'></ion-col>

  </ion-row>
</ion-content>
<!-- <img src="assets/img2.jpg">
    <img src="assets/img3.jpg">
    <img src="assets/img4.jpg"> -->